@import './variables';

.files {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  a {
    color: $pw-purple;
    font-size: 1em;
    margin: .5em 0;
    width: 1%;
    white-space: nowrap;
    font-weight: bold;
    text-decoration: none;
    &:visited {
      color: $pw-purple;
    }
  }
}
.files__section {
  min-width: 300px;
  flex: 1;
}
.flyers, .animations, .drawings {
  display: flex;
  flex-direction: column;
}
.flyers, .drawings {
  h2 {
    margin-bottom: .5em;
  }
}

.accordion {
  position: relative;
  width: 100%;
  & + & {
    margin-top: 1em;
  }
}
.accordion__menu {
  & p {
    margin: .5em 0;
  }
  padding: 0 1em;
  margin-top: .5em;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 100%;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
  border: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  z-index: 1;
  overflow: hidden;
}

$video-margin: .5em;

.videos {
  margin-top: 1em;
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -$video-margin;
    margin-top: 1em;
    .video {
      box-sizing: border-box;
      @media screen and (max-width: 501px) {
        padding: 1.5em;
      }
      margin: $video-margin;
      max-width: 500px;
      min-width: 500px;
      flex: 1;
      video {
        border-bottom: 1px solid transparent; // needed to fix a rendering glitch
      }
    }
  }
}