@import './variables';

/**
* This file is for styling big sections of content
*/
body {
  padding: 0;
  margin: 0;
  & * {
    font-family: 'Nuber Next Regular', sans-serif;
  }
  display: flex;
  flex-direction: column;
  align-items: center;;
}
header {
  width: 100%;
}
main {
  width: 100%;
  padding: 2em;
  max-width: 1920px;
  flex: 1;
}

.aboveTheFold {
  position: relative;
  padding-bottom: 8em;
  &::before {
    opacity: .1;
    position: absolute;
    content: ' ';
    z-index: -1;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    background-image: url('../assets/PWTechWave.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }

  border-bottom: 3px solid $pw-blue;
}