@import './variables';
body {
  padding: 0;
  margin: 0;
  & * {
    font-family: 'Nuber Next Regular', sans-serif;
  }
  display: flex;
  flex-direction: column;
  align-items: center;;
}
header {
  width: 100%;
}
main {
  width: 100%;
  padding: 2em;
  max-width: 1920px;
  flex: 1;
}

.aboveTheFold {
  background-image: url('../assets/PWTechWave.svg');
  border-bottom: 3px solid $pw-blue;
}