@import "./variables";

.navbar {
  height: 60px;
  box-sizing: border-box;
  background-color: $pw-gray;
  color: $pw-text;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;

  /**
  * The navbar brand and image
  */
  &__brand {
    display: flex;
    align-items: center;
    & > img {
      height: 52px;
      margin-bottom: .3em; /* Adjustment to align bottom of text in logo with rest of brand*/
      @media screen and (max-width: 580px) {
        margin-bottom: .5em; /* Adjustment to align bottom of text in logo with rest of brand*/
      }
    }
    font-size: 26px;
    @media screen and (max-width: 580px) {
      /** We need to ensure there is enough space for the navbar button */
      font-size: 20px;
      
    }
    color: $pw-text;
    text-decoration: none;
    &:hover, &:visited {
      color: $pw-text
    }
  }

  &__links {
    @media screen and (max-width: 830px) {
      /** At this width we use a toggleable navbar instead */
      display: none;
    }
    position: relative;
    background-color: $pw-purple;
    display: flex;
    padding: 0;
    margin: 0;
    color: white;
    list-style: none;
    &__item {
      padding: 0 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      &__link {
        color: white;
        text-decoration: none;
        opacity: 0.8;
        transition: opacity .3s ease-out;
        &:hover, &:visited {
          color: white;
          opacity: 1;
        }
      }
    }
    &::before {
      width: 0;
      height: 0;
      content: ' ';
      border-bottom: 60px solid $pw-purple;
      border-left: 100px solid transparent;
      position:absolute;
      right: 100%;
    }
  }
}