@import './variables';

.imageSection {
  display: flex;
  flex-wrap: wrap;
  & > .imageSection__imageContainer {
    margin: 0 1em 0 0;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    min-width: 300px;
    max-height: 310px;
    & > img {
      max-height: 100%;
      max-width: 100%;
    }
  }
  & > .imageSection__textContainer {
    flex: 1;
  }
}

.buttonSection {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: -$button-horizontal-clearance;
  margin-right: -$button-horizontal-clearance;
  @media screen and (max-width: $mobile-screen) {
    button {
      width: 100%;
    }
    a {
      width: 100%;
    }
  }
  button  {
    margin: $button-horizontal-clearance;
  }
  a {
    margin: $button-horizontal-clearance;
  }
}