@import "./variables";

/**
* This file is for styling text elements.
*/

.accentedText {
  color: $pw-purple !important;
}
.heroTitle {
  font-size: 53px;
}
.heroText {
  font-size: 24px;
  margin: 1em 0;
}
h1 {
  margin: 0 !important;
}