$pw-gray: #ececec;
$pw-text: #444;
$pw-purple: #6d2180;
$pw-blue: #00A2B1;

/**
* This is used for aligning the cards correctly to the left margin
*/
$card-horizontal-clearance: .5em;


/**
* The maximum width for content before it begins to have gutters.
*/
$maximum-content-width: 1920px;