$pw-gray: #ececec;
$pw-text: #444;
$pw-purple: #6d2180;
$pw-blue: #00A2B1;
$pw-yellow: #D4B483;

/**
* This is used for aligning the cards correctly to the left margin
*/
$card-horizontal-clearance: .5em;

/**
* This is used for aligning the buttons correctly to the left margin on the product page
*/
$button-horizontal-clearance: .5em;


/**
* The maximum width for content before it begins to have gutters.
*/
$maximum-content-width: 1920px;

$mobile-screen: 500px;

$contactPageZIndex: 2;
$navbarBackdropZIndex: $contactPageZIndex + 1;
$navbarZIndex: $navbarBackdropZIndex + 1;