<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/contact'); %>
    <main>
     <h1>About <span class="accentedText">Us</span></h1>
     <p>
        Process Wastewater Technologies LLC was formed in December, 2006 as the residual manufacturer of wastewater and combined sewer overflow (CSO) products when the parent company in the U.S., CDS Technologies, Inc. was sold to CONTECH Construction Products Inc.
     </p>
     <p>
        PWTech has a rich heritage in the storm water, waste water, CSO, and SSO treatment industry. Our success is based on a high-rate screening technology known as continuous deflective separation (CDS). Developed during the early 1990s, continuous deflective separation rapidly became the number one technology across the country for storm water treatment, and then was adapted to be utilized in the treatment of CSOs as well.
     </p>
     <p>
      While the CDS Technologies name and the storm water treatment portion of the business was sold in 2006, Process Wastewater Technologies continues to be a leading manufacturer of products for the wastewater and CSO treatment industry. With over $50 million in projects at its start-up, PWTech continues to grow and develop its wastewater and CSO/SSO treatment and sludge thickening and dewatering technologies.
     </p>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>