<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="heroTitle">
          Learn <span class="accentedText">more</span> about us
        </h1>
        <p class="heroText">Process Wastewater Technologies LLC is a leading global manufacturer of products for biological treatment, 
          CSO/SSO, biosolids/sludge handling and municipal wastewater. We revolutionized the storm water and 
          CSO treatment industry in the early 1990s by introducing continuous deflective separation technology to the 
          market. We offer technologies for gross solids and sediment removal from large and small sanitary and 
          combined sewer overflows, biological phosphorous and nitrogen removal, and sludge thickening and dewatering. 
          Our products and expertise have been proven by extensive independent laboratory studies and thousands of 
          installations in the U.S., Canada, Australia, New Zealand, United Kingdom, and the Asian Pacific Rim. 
          In fact, PWTech technology has been listed as a structural Best Management Practice (BMP) by the U.S 
          Environmental Protection Agency.</p>
        <h1>This is great</h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
