<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">

    <header>
      <%- include('../partials/header'); %>
    </header>
    <%- include('../partials/contact'); %>
    <main>
      <h1>Terms of Use</h1>
      
      <h2>General Conditions</h2>
      <p>
      Process Wastewater Technologies Inc. maintains and operates this web site (the "PWTech Web Site") for informational purposes only. By using the PWTech Web Site, by viewing documents, materials, or other information contained within it, or by downloading documents, materials, or other information from it, you agree to be bound by the Terms of Use outlined in this notice. If you do not agree with these Terms of Use or do not wish to be bound by these Terms of Use, leave this site immediately, do not use and do not download any information from this or any other PWTech Web Site.
      </p>

      <h2>Copyright and Trademark Information</h2>
      <p>Copyright © 2008, 2011. Process Wastewater Technologies LLC. All rights reserved. Unless otherwise indicated in a specific portion of this site, users are authorized to view, copy, print, and distribute portions of the PWTech Web Site, files, and documents. Authorization is subject to the following conditions:</p>
      <ul>
        <li>Any copy of this site or portion thereof must include this copyright notice.</li>
        <li>This site is to be used for informational, non-commercial purposes only.</li>
        <li>Process Wastewater Technologies Inc. reserves the right to revoke such authorization at any time, and any such use shall be ceased upon written notice from Process Wastewater Technologies Inc.</li>
      </ul>

      <h2>Linking Policy</h2>
      <p>Any link used in any PWTech Web Site has been included for the convenience of the visitor. The inclusion of a link on any PWTech Web Site does not constitute an endorsement, recommendation, or certification by Process Wastewater Technologies Inc., nor should the presence of a link in any way be construed as a suggestion that the linked site has any affiliation with Process Wastewater Technologies Inc.</p>
      <p>Process Wastewater Technologies Inc. encourages links to our pages. Before you link to any page, document, or file on the PWTech Web Site, contact Process Wastewater Technologies Inc. for information regarding proper usage of the PWTech trademark and identity.</p>

      <h2>Warranties and Disclaimers</h2>
      <p>This web site is provided "as-is," without warranty of any kind, express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purposes, or non-infringement. Process Wastewater Technologies Inc. assumes no responsibility for errors or omissions in this web site or in other documents or information referenced by this site.</p>
      <p>References to corporations, their services and products are listed "as-is" without warranty of any kind, expressed or implied. In no event shall Process Wastewater Technologies Inc. be liable for any special, incidental, indirect, consequential damages of any kind, or any damages whatsoever, including without limitation those resulting from loss of use, data, or profits, whether or not advised of the possibility of damage, and on any theory of liability, arising out of or in connection with the use or performance of the information.</p>

      <h2>Privacy Policy</h2>
      <p>Process Wastewater Technologies Inc. maintains and operates this web site (the "PWTech Web Site") and respects your privacy. Accordingly, PWTech believes you should know our online information practices, what information we collect, and how we use it.</p>

      <p>The PWTech Web Site automatically records each visitor's domain name and/or IP address.</p>

      <p>If you communicate with us by e-mail, we will collect your e-mail address; otherwise, personal information is only collected on the PWTech Web Site if you voluntarily provide it, including your name and/or that of your company or organization, postal address, telephone number, email address, and product or process application interests.</p>

      <p>This information may be used to analyze visited pages, the number of visits, average time spent on the site, etc. The information is used to improve the design and content of the PWTech Web Site. The personal information information we collect is used mainly to respond to the visitor's inquiry, but in some instances it may be used for market research or to provide you with information about our own or related goods or services that we believe support your needs. We may make this information available to our manufacturer's representatives, sales representatives, or other business affiliates so that they may respond to a visitor's inquiry or provide information about our own or related goods or services that we believe support your needs. The PWTech Web Site provides links to our manufacturer's representatives' web sites. Process Wastewater Technologies Inc. is not responsible for the content or privacy practices they employ.</p>

      <p>Process Wastewater Technologies Inc. will not sell any personal information derived from a visitor's visit or use of the PWTech Web Site to third parties.
      The PWTech Web Site uses cookies to record user-specific information on what pages users access or visit, record past activity at a site in order to provide better service when visitors return to the site, customize web page content based on visitor's browser type, or other information that the visitor sends.</p>

      <p>Do not send any confidential or proprietary information to Process Wastewater Technologies Inc. via the PWTech Web Site. Any information you do send will not be considered confidential or proprietary, and by sending such information you grant Process Wastewater Technologies Inc. an unrestricted, irrevocable, worldwide, royalty-free license to use, reproduce, and distribute any such information.</p>

      <p>If the Process Wastewater Technologies Inc. Privacy Policy changes, or if in the future we intend to use information collected in the PWTech Web Site in a manner not previously disclosed, we will post such changes on the PWTech Web Site. Only information collected after a posting shall be subject to the new Privacy Policy or will be put into new use.</p>

      <p>If at any time you believe that the PWTech Web Site has not adhered to this Privacy Policy, notify Process Wastewater Technologies Inc. immediately.</p>
    </main>

    <footer>
      <%- include('../partials/footer'); %>
    </footer>

  </body>
</html>
